* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Input fields */
input[type=text],input[type=number] {
  width: 60%;
  padding: 1%;
  margin: auto;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus{
  background-color:#ddd;
  outline: none;
}
input[type=number] :focus{
  background-color:#ddd;
  outline: none;
}

label{
  width: 20%;
  padding-left: 5%;
  margin-right: 2%;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button*/
.btn-submit{
	text-align: right;
  margin-right: 18%;

}

.form-group{
  width: 80%;
  margin-left: 10%;

}
/* Add a blue text color to links */
a {
  color: dodgerblue;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
  font-size: 3.5rem;
  }
}

footer {
  position:relative;
  bottom:0;
  width:100%;
  height:10%; 
  background-color: white;
  
}

.header{
  display: flex;
  justify-content: flex-end;
}


.navbar{
  margin-bottom: 70px;
}
.dropbtn {
background-color: #000000;
color: white;
padding: 16px;
padding-left: 20px;
font-size: 16px;
border: none;
}

.dropdown{
float: right;
position: relative;
}
.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: rgb(0, 153, 255);}
ul.menu {
list-style-type: none;
margin-bottom: 50px;
padding: 0;
overflow: hidden;
background-color: #333;
}

li.dash {
float: left;
}

li.dash a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
.download{
margin-top: 20px;
float: right;
font-size: 20px;
background-color: black;
color: white;
border-radius: 5px;
}
.download:hover{
background-color: rgb(0, 153, 255);
}
